#!/bin/bash

dotenv ./.env.app

# 秘匿設定読み込み
if [ ! -f "./.envrc.secret" ]; then
  dotenv ./.env.secret
else
  echo "ERROR: .env.secret が必要です。pnpm generate:env を実行してください。" >&2
  exit 1
fi

# sample ファイルから必要な環境変数の設定が漏れていないかチェック
required_envs=$(cat .env.secret.template | grep -v -E '^#' | cut -d '=' -f 1)

for required_env in $required_envs; do
  if [ -z "${!required_env}" ]; then
    echo "ERROR: 環境変数の ${required_env} が未設定です。.env.secret に追加が漏れていないか確認してください" >&2
    exit 1
  fi
done
